<!DOCTYPE html>
<html>
	<head>
		<link href="{{ STATIC_URL }}stylesheets/application.css" rel="stylesheet" type="text/css">
		<script src="{{ STATIC_URL }}javascripts/application.js"></script>
		<script src="{{ STATIC_URL }}javascripts/jquery-1.7.min.js"></script>
		<meta charset="utf-8">
		
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	
	<body>
		<header>
			{% block header %}
			{% endblock %}
		</header>
		
		<div id="main">
			{% block content %}
			{% endblock %}
		</div>
		
		<footer>
			{% block footer %}
			{% endblock %}
		</footer>
	</body>
</html>
	